body{
	margin: 0;
	padding: 0.5em;
}
.color{
	background: linear-gradient(to left, rgb(130, 250, 250), rgb(10, 40, 80));
}


.tamaño{
	border: 1px solid black;
	height: auto;
	width: 100vh;
	background: linear-gradient(to left, rgba(120, 120, 150, 0.8), rgba(120, 120, 120, 0.8));

}
